
body {
  color: #323659; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  h1 {
  text-align: center;
}
  h2 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4c6ba;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul li a:hover {
  background-color: #d4c6ba;
}

div.response {
    position: relative;
  left: 50px;  
  width: 1000px;
  background-color: #d4c6ba;
  border-style: double;
  border-color: #83DBD1;
  border-width: medium;
  padding: 5px 5px 5px 5px;

}
div.question {
    position: relative;
  left: 20px;  
  width: 700px;
  background-color: #83DBD1;
  border-style: double;
  border-color: #d4c6ba;
  border-width: medium;
  padding: 5px 5px 5px 5px;

}

<head>
a:link {
  color: #0f4e77;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #D66536;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #929673;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #718eaf;
  background-color: transparent;
  text-decoration: underline;
}
</head>
