
body {
  color: #323659; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  h1 {
  text-align: center;
}
  h2 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4c6ba;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul li a:hover {
  background-color: #d4c6ba;
}

a:link {
  text-decoration: none;
}

div.response {
    position: relative;
  left: 50px;  
  width: 800px;
  background-color: #d4c6ba;
  padding: 5px 5px 5px 5px;

}

<style>
a:link {
  color: #b27d57;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #424c21;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #173125;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #212e40;
  background-color: transparent;
  text-decoration: underline;
}
</style>