h1 {
color:blue;font-family: url('ithaca-font/Ithaca-LVB75.ttf');font-size: 50px;background-color: yellow;
}

h2 {
color: blue; font-family: Ithaca; sans-serif; font-size: 50px; background-color: yellow; border: 5px palevioletred;
}

@font-face {
    font-family: Ithaca;
    src: url(ithaca-font/Ithaca-LVB75.ttf);
}

h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
body {text-align: center;}
