h1 {
color:blue;font-family: url('ithaca-font/') ; font-size: 50px; background-color: yellow;
}

h2 {
color: blue; font-family: url('ithaca-font/');font-size: 30px; background-color: yellow; border: 5px palevioletred;
}

h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
body {text-align: center;}
