h1 {
color:blue;font-family: url('Ithaca');font-size: 50px;background-color: yellow;
}

h2 {
color: blue; font-family: url('Ithaca');font-size: 50px; background-color: yellow; border: 5px palevioletred;
}

h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
body {text-align: center;}
